<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <script th:src="@{/static/js/test.js}" type="text/javascript"></script>
</head>
<body>
<div>
    <label>用户姓名：<input th:id="${user.name}" th:name="${user.name}" th:value="${user.name}"/><br/></label>
    <label>用户年龄：<input th:value="${user.age}"/><br/></label>
    <label>用户生日：<input th:value="${user.birthday}"/><br/></label>
    <label>用户生日：<input th:value="${#dates.format(user.birthday,'yyyy-MM-dd HH:mm:ss')}"/><br/></label>
</div>
<br/>

<div th:object="${user}">
    <label>用户姓名：<input th:id="*{name}" th:name="*{name}" th:value="*{name}"/><br/></label>
    <label>用户年龄：<input th:value="*{age}"/><br/></label>
    <label>用户生日：<input th:value="*{birthday}"/><br/></label>
    <label>用户生日：<input th:value="*{#dates.format(birthday,'yyyy-MM-dd HH:mm:ss')}"/><br/></label>
</div>
<br/>

<div>
    text 与 utext：<br/>
    <span th:text="${user.desc}">abc</span>
    <br/>
    <span th:utext="${user.desc}">abc</span>
</div>
<br/>

<div>
    URL：<br/>
    <a href="http://www.chengix.com">网站ss地址</a><br/>
    <a th:href="@{http://www.chengix.com}">网站地址</a>
</div>
<br/>

<div>
    <!--<form th:action="@{/th/postform}" th:object="${user}" method="post">-->
    <form th:action="@{/th/postform}" th:object="${user}" th:method="post">
        <input type="text" th:field="*{name}"/>
        <input type="text" th:field="*{age}"/>
        <input type="submit"/>
    </form>
</div>
<br/>

<div>
    <div th:if="${user.age} == 18">十八</div>
    <div th:if="${user.age} gt 18">老了</div>
    <div th:if="${user.age} lt 18">年轻</div>
    <div th:if="${user.age} ge 18">大于等于</div>
    <div th:if="${user.age} le 18">小于等于</div>
</div>
<br/>

<div>
    <select>
        <option>选择框</option>
        <option th:selected="${user.name eq 'z'}">z</option>
        <option th:selected="${user.name eq 'zz'}">zz</option>
        <option th:selected="${user.name eq 'zzz'}">zzz</option>
        <option th:selected="${user.name eq 'cheng'}">cheng</option>
    </select>
</div>
<br/>

<div>
    <table>
        <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>年龄备注</th>
            <th>生日</th>
        </tr>
        <tr th:each="person:${userList}">
            <td th:text="${person.name}"></td>
            <td th:text="${person.age}"></td>
            <td th:text="${person.age gt 18} ? 你老了 : 你年轻">18岁</td>
            <td th:text="${#dates.format(user.birthday,'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
</div>
<br/>

<div th:switch="${user.name}">
    <p th:case="'cheng'">cheng</p>
    <p th:case="#{roles.superadmin}">超级管理员</p>
    <p th:case="#{roles.manager}">普通管理员</p>
    <p th:case="*">其他用户</p>
</div>
<br/>
</body>
</html>